body{
	background-image: url(1211.jpg);
		position: fixed;
 background-repeat: no-repeat;
    height: 150%;
  
}

.todo_list{
	margin: 0 auto;
	width: 100%;
	position: fixed;
	display: block;
	margin: 0 auto 40px;
	background-color: #222;
	opacity: 0.95;
	padding: 30px;
	border-radius: 15px;
}
h1{ font-size: 60px;
	text-align: center;
	margin: 0,0,20px;
	color: #fff;

}
.create_new_todo{
	text-align: center;
}
.add{

	padding-top: -30px;
	font-size: 26px;
	font-weight: bold;
height: 60px;
	border-radius: 15px;
	color: #50f148;
	background-color: grey;
	margin-top: 10px;
	width: 60px;
	padding: 10px;
}
.message{
   font-size: 30px;
	border-radius: 13px;
	
	width: 866px;
	height: 54px;
	margin-left: -90px;
}
.todo {
  padding-left: 0; }
  .todo li {
    padding: 1em;
    list-style-type: none; }
    .todo li:not(:last-child) {
      border-bottom: 1px solid #000; }

.todo{ 
    
	font-size: 38px;
	color: #fff;
}
.wrapper{
	margin-left: 20px;
}
.iii{
	margin-top: 5px;
	width: 33px;
	height: 33px;
}
#myBtn{
	width: 50px;
	height: 50px;
	font-size: 37px;
	font-weight: bold;
	border-radius: 16px;
	background-color: #000;
       color: #fff;
}
.modal {
	padding-top: 200px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	font-size: 40px;
border-radius: 30px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
   background-color: #222;
   color: white;
   opacity: 0.8;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}